executor {
    queueSize = 100
}

cleanup = true

process {
    executor = 'crg'

    queue = { (task.attempt < 2 ? 'long-sl7' :  //'cn-el7' : 
               task.attempt < 7 ? 'long-sl7' : 
               task.attempt < 8 ? 'mem_256' : 
               'mem_512') }
    
    memory = { (16.GB * task.attempt) }
    time = { (10.hour * task.attempt) }

    errorStrategy = { task.attempt < 8 ? 'retry' : 'finish' } 
    maxRetries = 7
}

singularity {
   enabled = true
}

tower {
  accessToken = '57cc4e09eb0909d18d9926731205dfff09a13cc4'
  enabled = true
}

