executor {
    queueSize = 100
}

cleanup = true

process {
    executor = 'crg'

    queue = { (task.attempt < 4 ? 'long-sl7' :  //'cn-el7' : 
               task.attempt < 7 ? 'long-sl7' : 
               task.attempt < 8 ? 'mem_256' : 
               'mem_512') }

    withLabel:process_low {
        memory = { ( 12.GB * task.attempt ) }
        time = { ( 6.h * task.attempt ) }
    }
    withLabel:process_high {
        memory = { ( 64.GB * task.attempt ) }
        time = { ( 72.h * task.attempt ) }
    }

    errorStrategy = { task.attempt < 8 ? 'retry' : 'finish' } 
    maxRetries = 7

    container = 'file:///users/cn/sjin/bin/pastml'

}

singularity {
   enabled = true
}

tower {
  accessToken = '57cc4e09eb0909d18d9926731205dfff09a13cc4'
  enabled = true
}

